---
---

@import "{{ site.theme }}";

.main-content {
	border: 8px solid black;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 8px solid black;
	border-style: solid;
}

td {
	border: 8px solid black;
	border-style: solid;
}
