---
---

@import "{{ site.theme }}";

table {
	border-collapse: collapse;
}.main-content

table, th, td {
	border: 4px solid black;
	border-style: solid;
}.main-content

td {
	border: 4px solid black;
	border-style: solid;
}.main-content
